.st-pagination {
  text-align: center;
  margin-top: 30px;
}
.pagination > li > span,
.st-pagination .pagination > li > a {
  position: relative;
  float: left;
  line-height: 1.6;
  color: #333;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 11px;
  border-radius: 0;
  border: 1px solid #333;
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 8px;
  margin-bottom: 5px;
}
.st-pagination .pagination > li > a:focus,
.st-pagination .pagination > li > a:hover,
.st-pagination .pagination > li > span:focus,
.st-pagination .pagination > li > span:hover {
  z-index: 2;
  color: #fff;
  background-color: #333;
  border: #333 1px solid;
}
.st-pagination .pagination > li:first-child > a,
.st-pagination .pagination > li:first-child > span {
  margin-left: 0;
  border-radius: 0;
}
.st-pagination .pagination > li:last-child > a,
.st-pagination .pagination > li:last-child > span {
  border-radius: 0;
}
.st-pagination .pagination > .active > a,
.st-pagination .pagination > .active > a:focus,
.st-pagination .pagination > .active > a:hover,
.st-pagination .pagination > .active > span,
.st-pagination .pagination > .active > span:focus,
.st-pagination .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #333;
  border: 1px solid #333;
}
