@charset "UTF-8";

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  color: #525652;
  font-weight: 400;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #181c18;
  font-family: "Nunito Sans", sans-serif;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
  line-height: 30px;
}
h3 {
  font-size: 20px;
  line-height: 34px;
}
h4 {
  font-size: 18px;
  line-height: 30px;
}
h5 {
  font-size: 16px;
  line-height: 28px;
}
h6 {
  font-size: 14px;
}
p {
  margin: 0 0 30px;
  line-height: 1.6;
}
p:last-child {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #181c18;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a:focus,
a:hover {
  text-decoration: none;
  color: #52c75a;
}
.control-label {
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #9b9a98;
}
.form-control {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  color: #767a7e;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  line-height: 1.42857143;
  background-image: none;
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 10px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
  border-bottom: 2px solid #d3d3d3;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
input[type="checkbox"],
input[type="radio"] {
  margin: 8px 0 0;
  line-height: normal;
}
input::-webkit-input-placeholder {
  color: #4d5457 !important;
}
textarea::-webkit-input-placeholder {
  color: #4d5457 !important;
}
.alignright {
  float: right;
  margin: 0 0 30px 30px;
}
.alignleft {
  float: left;
  margin: 0 30px 0 0;
}
a img.alignright {
  float: right;
  margin: 0 0 30px 30px;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.btn {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 22px;
  margin-bottom: 4px;
  letter-spacing: 2.2px;
  border-radius: 0;
  border: 2px solid #555;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  word-wrap: break-word;
  white-space: normal !important;
}
.btn-primary {
  background-color: transparent;
  border: 2px solid #52c75a;
  color: #52c75a;
}
.btn-primary:hover {
  background-color: #52c75a;
  border: 2px solid #52c75a;
  color: #fff;
}
.btn-primary.focus,
.btn-primary:focus {
  background-color: #52c75a;
  border: 2px solid #52c75a;
  color: #fff;
}
.btn-default {
  background-color: transparent;
  border: 2px solid #555;
  color: #555;
}
.btn-default:hover {
  background-color: #555;
  border: 2px solid #555;
  color: #fff;
}
.btn-default.focus,
.btn-default:focus {
  background-color: #555;
  border: 2px solid #555;
  color: #fff;
}
.btn-lg {
  padding: 15px 36px;
  font-size: 15px;
}
.btn-sm {
  padding: 8px 18px;
  font-size: 12px;
}
.btn-xs {
  padding: 6px 16px;
  font-size: 10px;
}
.btn-link {
  color: #181c18;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-link:hover {
  color: #52c75a;
  text-decoration: none;
}
button.btn {
  margin-right: -1px;
}
.space-small {
  padding-top: 40px;
  padding-bottom: 40px;
}
.space-medium {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* .mb0 {
  margin-bottom: 0;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb130 {
  margin-bottom: 130px;
}
.mt0 {
  margin-top: 0;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt100 {
  margin-top: 100px;
}
.mt-20 {
  margin-top: -20px;
}
.mt-40 {
  margin-top: -40px;
}
.mt-60 {
  margin-top: -60px;
}
.mt-80 {
  margin-top: -80px;
} */
.bg-light {
  background-color: #f9f9f9;
}
/* .bg-primary {
  background-color: #ffe62c;
  color: #fff;
}
.bg-white {
  background-color: #fff;
} */
.section-title {
  margin-bottom: 50px;
  text-align: center;
}
.title {
  color: #333;
}
.small-text {
  padding-top: 20px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.text-white {
  color: #fff;
}
.feature-block {
  border: 1px solid #ededed;
  padding: 30px;
  margin-bottom: 30px;
  background-color: #fff;
}
.feature-content {
  margin-left: 80px;
}
.feature-icon {
  font-size: 50px;
  color: #52c75a;
  margin-bottom: 30px;
  float: left;
}
.angle {
  position: relative;
  font-weight: 400;
}
.angle-right li:before {
  font-family: FontAwesome;
  display: block;
  position: absolute;
  left: 0;
  font-size: 14px;
  padding-top: 0;
  color: #52c75a;
  content: "\f10c";
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 0;
  line-height: normal;
  vertical-align: middle;
}
.imghover {
  display: block;
  position: relative;
  max-width: 100%;
}
.imghover::after,
.imghover::before {
  display: block;
  position: absolute;
  content: "";
  text-align: center;
  opacity: 0;
}
.imghover::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.imghover::after {
  top: 55%;
  left: 50%;
  padding: 10px;
  line-height: 10px;
  margin: -25px 0 0 -25px;
  content: "\f061";
  font-family: FontAwesome;
  font-size: 30px;
}
.imghover:hover::after,
.imghover:hover::before {
  opacity: 1;
}
.imghover:hover::before {
  background-color: rgba(17, 22, 17, 0.6);
}
.imghover:hover::after {
  color: #fff;
}
/* .icon-1x {
  font-size: 18px;
}
.icon-2x {
  font-size: 38px;
}
.icon-4x {
  font-size: 65px;
}
.icon-6x {
  font-size: 88px;
}
.icon-8x {
  font-size: 108px;
} */
/* .icon-default {
  color: #aa9144;
}
.icon-primary {
  color: #474954;
}
.icon-white {
  color: #fff;
} */
.header-wrapper {
  z-index: 9;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}
.header-btn {
  margin-top: 7px;
}

.page-header {
  background-color: #f2f2f2;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
}
.page-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.page-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #181c18;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.page-header p {
  color: #464e47;
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-style: italic;
}

.profile {
  bottom: -20px;
  position: absolute;
}
.profile img {
  border-radius: 50%;
  margin-bottom: 30px;
  position: relative;
}
.back-pic {
  background-color: #ebebeb;
  height: 548px;
  width: 385px;
  border-radius: 50%;
  transform: rotate(-140deg);
}
.footer {
  background-color: #111;
  padding-top: 60px;
  padding-bottom: 30px;
  color: grey;
  font-weight: 400;
}
.footer-title {
  margin-bottom: 55px;
  color: #fff;
}
.footer-widget {
  margin-bottom: 30px;
}
.footer-widget ul {
  margin-bottom: 25px;
}
.footer-widget ul li {
  line-height: 1;
  margin-bottom: 18px;
  font-size: 16px;
  margin-top: 25px;
}
.footer-widget ul li a {
  font-size: 14px;
  color: #8e918e;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 400;
  margin-left: 30px;
  margin-top: 1px;
}
.footer-widget ul li a:hover {
  color: #a5d897;
}
.footer-widget ul li i {
  margin-right: 15px;
  color: grey;
  font-size: 20px;
}
.footer-widget .form-control {
  color: grey;
  background-color: transparent;
  border-bottom: 1px solid grey;
  border-radius: 0;
  margin-top: -10px;
}
.footer-social {
  margin-top: 50px;
}
.footer-social a span {
  font-size: 20px;
  padding-right: 12px;
  color: #58595a;
}
.footer-social a span:hover {
  color: #a5d897;
}
.tiny-footer {
  margin-top: 50px;
  font-size: 14px;
  color: grey;
  text-align: center;
}
.about-section {
  padding-bottom: 55px;
  padding-top: 55px;
}
.about-title {
  border-bottom: 1px solid #ededed;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.about-img img {
  border-radius: 5px;
  position: relative;
}
.about-btn {
  margin-top: -130px;
}
.gallery-slider-carousel {
  margin-bottom: 80px;
}
.service-block {
  margin-bottom: 30px;
}
.service-content {
  margin-top: 30px;
}
.gallery-img img {
  width: 100%;
}
a:active {
  background-color: transparent;
  border-bottom: 1px solid #52c75a;
}
.plan-block {
  border: 1px solid #ededed;
  padding: 40px;
  margin-bottom: 30px;
}
.plan-header {
  border-bottom: 1px solid #ededed;
  margin-bottom: 40px;
  position: relative;
}
.plan-price {
  padding-right: 0;
  position: absolute;
  bottom: 8px;
  right: 0;
  font-size: 30px;
  color: #52c75a;
}
.plan-content ul {
  margin-bottom: 40px;
}
.plan-content ul li {
  margin-left: 25px;
  line-height: 38px;
}
.testimonial-block {
  border: 1px solid #ededed;
  padding: 40px;
  margin-bottom: 30px;
}
.testimonial-block ul {
  margin-bottom: 50px;
}
.testimonial-block ul li {
  float: left;
  font-size: 16px;
  color: #ffcf03;
  padding-right: 8px;
}
.testimonial-icon {
  margin-bottom: 40px;
}
.testimonial-content {
  text-align: center;
}
.testimonial-content ul {
  margin-bottom: 20px;
  display: inline-block;
}
.testimonial-content ul li {
  float: left;
  font-size: 16px;
  color: #ffcf03;
  padding-right: 8px;
}
.testimonial-pic img {
  margin-bottom: 20px;
}
.testimonial-text {
  font-size: 18px;
  font-style: italic;
  color: #525652;
  font-weight: 500;
  margin-top: 20px;
}
.testimonial-meta {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 13px;
  text-transform: uppercase;
  color: #4ec355;
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-top: 0;
  display: block;
}
.testimonial-wrapper span {
  line-height: 1.2;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.2px;
  font-weight: 700;
}
.contact-block {
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 5px;
  background-color: #25aae1;
  color: #fff;
}
.contact-form {
  margin-bottom: 30px;
  border-radius: 5px;
}
.contact-head {
  padding-left: 50px;
  margin-top: -42px;
}
.contact-info h4 {
  color: #fff;
}
.contact-info p {
  color: #fff;
}
.contact-info ul li {
  color: #525652;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 15px;
}
.contact-info ul li i {
  margin-right: 16px;
  color: #52c65a;
  font-size: 24px;
}
.contact-info ul li:last-child {
  border-bottom: 0;
}
.contact-social {
  margin-bottom: 22px;
}
.contact-social ul {
  margin-top: -1px;
}
.contact-social ul li {
  line-height: 1;
  margin-bottom: 8px;
}
.contact-social-btn {
  border-radius: 0;
  display: inline-block;
  line-height: 1.5;
  font-size: 22px;
  color: #fff;
}
.contact-social span {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-twitter {
  background: 0 0;
  color: #00aced;
}
.btn-twitter:active,
.btn-twitter:hover {
  background: 0 0;
  color: #00aced;
}
.btn-facebook {
  background: 0 0;
  color: #3b5997;
}
.btn-facebook:active,
.btn-facebook:hover {
  background: 0 0;
  color: #3b5997;
}
.btn-googleplus {
  background: 0 0;
  color: #d64937;
}
.btn-googleplus:active,
.btn-googleplus:hover {
  background: 0 0;
  color: #d64937;
}
.btn-instagram {
  background: 0 0;
  color: #fb3958;
}
.btn-instagram:active,
.btn-instagram:hover {
  background: 0 0;
  color: #fb3958;
}
.btn-linkedin {
  background: #0074a1;
  color: #fff;
}
.btn-linkedin:active,
.btn-linkedin:hover {
  background: #006288;
  color: #fff;
}
.btn-social {
  margin: 20px 0 25px 0;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
}
.post-holder {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 30px;
}
.post-block {
  margin-bottom: 30px;
}
.post-img img {
  border-radius: 0;
}
.post-header {
  margin-bottom: 20px;
  margin-top: 20px;
}
.post-content {
  margin-top: 30px;
}
.post-sticky {
  position: absolute;
  bottom: 48%;
  left: 48%;
  font-size: 60px;
  color: #fff;
}
.meta {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.meta i {
  color: #25aae1;
  margin-right: 5px;
}
.meta-comments {
  color: #8e908e;
}
.meta-categories {
  color: #4ec355;
}
.meta-categories,
.meta-comments,
.meta-date {
  margin-right: 10px;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}

.related-post-block {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  margin-bottom: 30px;
}
.related-post-title {
  margin-top: 30px;
}
.related-img img {
  margin-bottom: 30px;
}
.related-post-content {
  margin-bottom: 30px;
}
.post-meta {
  margin-right: 20px;
  line-height: 0;
}
.post-navigation {
  background-color: #ededed;
  padding: 30px;
}
.next-link {
  color: #4f544f;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.next-link:hover {
  color: #52c75a;
  text-decoration: none;
}
.previous-next-title {
  margin-top: 20px;
}
.widget {
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #ededed;
}
.widget-title {
  color: #181c18;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.widget-categories {
  color: #111;
}
.widget-categories ul li {
  position: relative;
  margin-bottom: 8px;
}
.widget-categories ul li a {
  padding: 0 0 0 18px;
  font-size: 13px;
  font-weight: 700;
  color: #797f82;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.2;
}
.widget-tags a {
  color: #888;
  padding: 5px 12px;
  background-color: transparent;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 0;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px;
  margin-right: 5px;
  border: 1px solid #888;
}
.widget-tags a:hover {
  background-color: #111;
  color: #fff;
  border: 1px solid #111;
}
#contact-map {
  width: 100%;
  height: 400px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-bottom: 1px solid #e5e5e5;
}

